/* 
    Document   : invoice
    Created on : Sep 15, 2013, 9:19:35 AM
    Author     : LPM
    Description:
        Stylesheet for invoice.jsp
*/

body {
    border: 3px solid black;
    margin: 10px;
    border: 2px solid black;
    width: 400px;
    padding: 10px; 
}

h1 {
    border: 1px dashed black;
    padding: 10px;
    color:blue;
    text-align:center;
    margin: .5em 0 .25em; /* .5em top, 0 right and left, .25em bottom */
    background-color:yellow;
}

h2 {
    text-align:center;    
    text-shadow:2px 2px blue;
    background-color:yellow;
}

input{
    color:blue;
    background-color:yellow;
}






