/* 
    Document   : invoice
    Created on : Sep 15, 2013, 9:19:35 AM
    Author     : LPM
    Description:
        Stylesheet for invoice.jsp
*/

body {
    border: 3px solid black;
    margin: 10px;    
    width: 400px;
    padding: 10px;     
}

h1 {
    color:blue;
    border: 1px dashed black;
    padding: 10px;    
    text-align:center;
    margin: .5em 0 .25em; /* .5em top, 0 right and left, .25em bottom */
    background-color:yellow;
}

h2 {
    color: blue;
    text-align:center;    
}

h4 {
    text-align:center;    
    background-color:yellow;
}

input{
    color:blue;
    background-color:yellow;
}


#total {
    background-color:yellow;

}



